.listado {
    display: grid;
    gap: 4rem;
}

/*Si la página mide 768 px pon 2 columnas si mide 992 px 3 columnas*/
@media (min-width: 768px){
    .listado {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px){
    .listado {
        grid-template-columns: repeat(3, 1fr);
    }
}